@page {
    size: A4;
}

@media print {
    max-height: 297mm;
    max-width: 210mm;
}

html {
    font-size: 62.5%;

    --primary-bg: #ffe0e0;
    --primary-fg: #fe4500;
    --secondary-bg: #b3a0a0;
    --secondary-fg: #ffffff;
    --nav-size: 12rem;
    --section-height: calc(100vh - 18rem);
}

body {
    height: 84.2rem;
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
}

main {
    display: grid;
    grid-template-columns: .6fr 1fr;
}

main>div:nth-of-type(1) {
    background-color: var(--primary-bg);
    border-radius: 99999px 99999px 0 0 ;
    margin: -2rem 0 0 0;
    padding: 9rem 1rem 0;
}


main>div:nth-of-type(2) {
    margin: 0 0 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-fg);
    font-family: MuseoSansRounded900, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin: 0 0 2rem;
    font-size: 2rem;
}

h3 {
    margin: 1rem 0;
    color: black;
}

h3::before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: '';
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 0.5rem 0 -0.5rem;
}

h3 a, h3 span {
    float: right;
}

header {
    text-align: center;
}

header h2 {
    margin: 0;
}

section {
    margin: 2rem 0;
}

p {
    margin: 1rem 0;
}

dt {
    font-weight: bold;
    margin: 0.5rem 0 0;
}

#contact-details dl {
    display: grid;
    grid-template-columns: auto 1fr;
}

#contact-details dt {
    margin: 0 0.5rem 0 0;
}

ul {
    border-left: 1px solid black;
    list-style: disc;
    padding: 0 0 0 2.5rem;
}

em {
    font-weight: bold;
}

a, a:visited {
    color: blue;
}
